<header>
  
<nav class="navbar fixed-top navbar-inverse">
  <div class="container">
    <li class="nav-item"><a class="nav-link" href="{% url 'lab-9:auth_logout' %}" onclick="return confirm('Keluar?')">Logout</a></li>
     
  </div>
</nav>

</header>
