
<nav class="navbar fixed-top navbar-inverse">
  
      <ul class="nav navbar-nav nav-right pull-right">
        <li class="nav-item"><a class="nav-link" href="{% url 'lab-9:cookie_clear' %}" onclick="return confirm('Reset cookie?')">Logout</a></li>
      </ul>
    
</nav>