<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ name }}</title>
	<title>{{age}}</title>
</head>
<body>
    <h1>Hello my name is {{ name }}</h1>
<<<<<<< HEAD:lab_1/templates/index.html
	<article>I am {{age}} years old</article>
=======
    <article>I am {{ age }} years old</article>
>>>>>>> 5bb6d5d0f04a4f50a5e86d6d2a7c3cbe178b38aa:lab_1/templates/index_lab1.html
</body>
</html>
