

{% extends "lab_7/layout/base.html" %}

{% block content %}
{% load static %}
    <section name="friend-list" id="friend-list">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-lg-8">
                    <h2> Friend Fasilkom</h2>
                    <div id="friend-list" class="list-group">
                      
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
{% block javascript %}
    <script>
        $( document ).ready(function () {
            {# lengkapi pemanggilan ajax berikut untuk mengambil daftar teman yang ada di database #}
            $.ajax({
                method: "GET",
                url: "{% url "lab-7:my-friend-list" %}",
                success: function (friend_list) {
                    console.log(friend_list);
                    objFriend = JSON.parse(friend_list);
                    console.log(objFriend.length);
                    if (objFriend.length==0){
                        console.log("masuk")
                        var html = '<div class="alert alert-danger text-center">'+
                            '<strong>Opps!</strong> Tidak ada teman'+
                        '</div>';
                        $('#friend-list').append(html);
                    }
                    $.each(objFriend, function(index, friend){
                        image = '<span class="pull-right">'+
                        '<img src="{% static "img/unfriend.png" %}" width="30" height="30" margin="0"'+ 
                        'onclick="delete_friend('+friend.pk+')">'+
                        '</img>'+
                        '</span>';
                        btnView = '<span class="btn btn-xs btn-default pull-right" onclick="view('+friend.pk+')">'+
                                    "View"+
                                    "</span>"
                        html = '<a class="list-group-item clearfix" style="margin:0px 80px 0 80px;">' +
                        friend.fields.friend_name + "("+friend.fields.npm+")"+image+btnView+
                        '</a>';
                        $("#friend-list").append(html)
                    })
                    
                },
                error: function(error){
                    alert("Anda tidak memiliki teman")
                }
            });
        });

        var delete_friend = function(id){
            console.log("delete"+id)
            window.open('delete-friend/'+id+'/', '_self')
        }

        var view = (pk)=>{
            console.log(pk)
            window.open('view/'+pk+'/','_self')
        }


    </script>
{% endblock %}

}